* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Roboto;
  height: 100dvh;
  background-color: #fffdf5;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.container {
  max-width: 1440px;
  margin: auto;
}

p {
  padding: 5px 0px;
}

blockquote {
  border-left: 3px solid #656556;
  background: #dedede;
  padding: 5px;
}
